/* Colors - Darkest to Light
- Ink Black
	#051923
	rgba(5,25,35,1)
- Deep Space Blue
	#003553
	rgba(0,53,84,1)
- Baltic Blue
	#006494
	rgba(0,100,148,1)
- Steel Blue
	#0582CA
	rgba(5,120,202,1)
- Fresh Sky
	#00A6FB
	rgba(0,166,251,1)

-- Highlight --
- Blaze Orange
	#FB5500
	rgba(251,85,0,1)
*/

/* All */
* {
	font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
	padding: 0px;
	color: #ffffff;
}

/* Waybar base */
window#waybar {
	background-color: rgba(0,0,0,0);
}
#workspaces {
	border: 2px solid #00A6FB;
	border-radius: 7px;
	background: rgba(0,53,84,0.75);
	margin: 1px;
	padding: 0px;
}
#workspaces button.active {
	background-color: rgba(251,85,0,0.4);
	padding: 0px 5px;
}

/* Hover pop up */
tooltip {
	background: rgba(5,25,35,1);
	border: 3px solid #00A6FB;
	border-radius: 5px;
}

/* Sound/Bluetooth */
#pulseaudio-slider slider {
	min-height: 0px;
	min-width: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}
#pulseaudio-slider trough {
	min-height: 10px;
	min-width: 80px;
	border-radius: 5px;
	background: black;
}
#pulseaudio-slider highlight {
	min-width: 10px;
	border-radius: 5px;
	background: #00A6FB;
}

/* Keyboard States */
/*#keyboard-state label {
	padding: 1px;
}*/
/* Style box for all */
#battery, #bluetooth, #pulseaudio, #temperature, #pulseaudio-slider, #network, #cpu, #disk, #memory, #clock {
	border: 2px solid #00A6FB;
	border-radius: 7px;
	padding: 0px 5px;
	margin: 1px;
	background: rgba(0,53,84,0.75)
}

